## R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

## large files
**TempNorm_1850to1900_global_temperature_norm.csv
**total_forcing_total_forcing.csv

## large files in Validation
## berkely gridded data: https://berkeleyearth.org/data/
**Land_and_Ocean_EqualArea.nc

## pattern output from GIVE runs
**cmip6_patterns.csv
**fair_global_mean_surface_temperature.csv